.git
.github
.dockerignore
docker-compose.yml
docker-compose.override.yml
docker/
node_modules/
vendor/
.env
.env.backup
.env.production
.env.development
.env.staging
.phpunit.result.cache
storage/*.key
database/*.sqlite
npm-debug.log
yarn-error.log
.gemini/
